.appShell {
  --window-titlebar-height: 2.5rem;
}

.main {
  padding-top: var(--window-titlebar-height);
}

.windowTitlebar {
  app-region: drag;
  height: var(--window-titlebar-height);
}

.windowTitlebar [data-window-control-exclusion] {
  app-region: no-drag;
}
